body{
    background: white url("images/background.jpg");
    background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
	background-opacity:90%
}

.navbar{
    border-radius:0
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
}

.text-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
}

.footer, .push{
    position:absolute;
    bottom:0px;
    width: 100%
}

.text{

    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
}