{% extends 'zip_to_rep/base.html' %}
{% block title%}Home{% endblock %}

{% block body %}
    <h3>
        Zipcodes Currently in the Database:
    </h3>

    <ol>
        {% for zipa in all_zips %}
        <li><a href="{% url 'zip_to_rep:zipcode_detail' zipa.zip %}">{{zipa.zip}}</a></li>
            {% for dist in zipa.district_set.all%}
            <ul>{{dist}}</ul>
                {%for rep in dist.rep_set.all%}
                <ul>{{rep}}</ul>
                {%endfor%}
            {% endfor %}
        {% endfor %}
    </ol>

    <h5>
        Don't see your zipcode? Click 'add zipcode' in the above tool bar!
    </h5>
{% endblock %}